<!DOCTYPE html>
<html>
<head>
    <title>Flash Messages</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
</head>
<body>
<div class="messages flash-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<script>
    // Get all flash messages
    const flashMessages = document.querySelectorAll('.flash-message');
    console.log(flashMessages)
    // Add click event listener to each flash message
    flashMessages.forEach(message => {
        message.addEventListener('click', () => {
            message.parentElement.remove(); // Remove the message's parent (li element)
        });
    });

    setTimeout(function () {
        flashMessages.forEach(message => {
            message.classList.add('fade-out');
        });
    }, 1000);
</script>
</body>
</html>